.card_container__simple {
    margin-top: 0px;
}

.card__detailed {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card-img_container__detailed {
    display: block;
    width: 500px;
    height: 500px;
}

.card__description {
    padding: 1.5em;
}