.breadcrump_container {
	display: flex; 
	justify-content: start;
}

.breadcrump__item {
	display: flex;
}

.breadcrump__part {
	margin-right: 1em;
}

.divider {
	display: block;
	width: 2px;
	height: 1.5em;
	margin-right: 0.5em;
	background-color: red;
}