.card {
    display: block;
    max-width: 300px;
    background-color: #FFFFFF;
    border: 1px solid #0F091B;
    border-radius: 10px;
    /* 13131A */
    /* 0F091B */
  }
  
  .card-img_container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: 200px;
  }
  
  .card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
    width: 100%;
    height: 100%;
  }

  .card-text_container {
    padding: 5px;
  }
  
  .card-btn_container {
    display: flex;
    justify-content: center;
    padding: 0.5em 0 0.5em 0;
  }

  .btn_add {
    flex-grow: 0.3;

    background-color: #9048F0;
    color: white;

    border: 1px solid #9048F0;
    border-radius: 5px;

    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
    cursor: pointer;
}